*.ts  linguist-language=TypeScript
.eslintrc.js linguist-vendored
.prettierrc.js linguist-vendored
typedoc.js linguist-vendored
*.config.js linguist-vendored
**/*.config.js linguist-vendored
scripts/*.mjs linguist-vendored
bin/* linguist-vendored
dist/* linguist-vendored
lib/* linguist-vendored
es/* linguist-vendored